  <div id="banner" class="banner">
    <div class="banner-image" style="display: block; margin-left: auto; margin-right: auto;">
      <img src="{{ site.baseurl }}/assets/images/banner.jpg" style="position: absolute; height: 1000px; ">
    </div>
    </div>
    <div class="banner-caption">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 object-non-visible animated object-visible" data-animation-effect="">
            <h1 class="text-center">We are TeamFusian.</h1>
            <p class="text-center">Ever want to take a selfie with somebody, but due to physical distance it is impossible? No more! Selfusian has you covered.</p>
            <h1 class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="//www.youtube.com/embed/pIZ5ie47jvk"></iframe>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>