    <meta charset="utf-8">

    <title>{{ page.title }}</title>

    <!-- Bootstrap theme -->
    <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">

    <!-- Font-awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ site.baseurl }}/assets/css/custom.css" rel="stylesheet">

    <!-- Don't use fullscreen on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico">
