<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/index.html">TeamFusian</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse">
    {% assign pages = site.pages | sort:"weight" %}
      <ul class="nav navbar-nav">
        {% for p in pages %}
          <li {% if p.url == page.url %}class="active"{% endif %} >
            <a href="{{ p.url }}">
              <i class="fa {{ p.icon }}"></i> {{ p.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
